<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><% title %></title>
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div id="container">
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Snake!</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="#about">Start</a></li>
						<li><a href="#contact">Pause</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Setting<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-header">Difficult</li>
								<li class="divider"></li>
								<li><a href="#">Rookie</a></li>
								<li><a href="#">Normal</a></li>
								<li><a href="#">Master</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<div id="pannel" style="margin-bottom: 10px;"></div> 
	<select id="selSize"> 
		<option value="20">20*20</option> 
		<option value="30">30*30</option> 
		<option value="40">40*40</option> 
	</select> 
	<select id="selSpeed"> 
		<option value="500">速度-慢</option> 
		<option value="250" selected="selected">速度-中</option> 
		<option value="100">速度-快</option> 
	</select> 
	<input type="button" id="startBtn">"开始"</input>


	<script src="/javascripts/jquery-1.10.2.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/snake.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</body>
</html>